

#pnav a:hover {
    background-position:0px -200px;

}
  
  a{
    color: #111
  }
  
  label{
    color:white;
  }
  .photo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }
  img{
    width: 12rem;
  }

  #contact{
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
    background-color:lightgreen;
    margin: 7em 7em 5em 5em;
    padding-left: 5em; 

  }

  #contactInput{
    font-size: 1.2rem;
  }

  ui.Form.Input.label{
    font-size: 1.2rem;
  }


  .header{
    font-size:1.2rem;
    text-align: center;
  }

  .GitHubLink{
    text-align: center;
    font-size:1.2rem;
  }
  
  .card-content{
    float:right;
  }

  .ui.Form.Input label{
    color:white;
  }
  
  /* Ends */
  
nav{
    background:lightskyblue;
}

.page-footer{
    background:lightskyblue;
}

nav ul li:hover{
    background-color: #399077;
}

nav ul li:active{
    background-color: #45a049;
}

input{
  color:white;
}
      
  .ml3 {
    font-weight: 700;
    font-size: 3.5em;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
  }

#home{
    padding: 350px;
    height:800px;
}
#portfolio{
    overflow-y: auto;
}
.imgs{
    float:left;
}
#picture{
    width: 12rem;
    margin-left:150px;

}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #42b078;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  
  .hovereffect iframe {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  *, *::after, *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #3d3536;
    background-color: white;
  }
  
  a {
    color: #b4d7a8;
    text-decoration: none;
  }
  
  
  .cd-main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }
  
  .cd-main-header:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }
  
  .cd-main-header__logo {
    float: left;
    margin: 13px 0 0 5%;
  }
  
  .cd-main-header__logo img {
    display: block;
  }
  
  @media only screen and (min-width: 768px) {
    .cd-main-header {
      height: 70px;
    }
    .cd-main-header__logo {
      margin: 23px 0 0 5%;
    }
  }
  
  .cd-main-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    background: url("../images/menu.png") no-repeat center center;
    background-size: 44px 44px;
    cursor: pointer;
  }
  
  .cd-main-nav__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  
  .cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
  }
  
  .cd-main-nav__list a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #2f292a;
    border-top: 1px solid #453c3d;
    color: #8e7d7f;
  }
  
  @media only screen and (min-width: 768px) {
    .cd-main-nav {
      /* reset style */
      width: auto;
      height: auto;
      background: none;
      cursor: auto;
    }
    .cd-main-nav__list {
      /* reset style */
      position: static;
      width: auto;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      line-height: 70px;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
      /* reset style */
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
    }
    .cd-main-nav__list li {
      display: inline-block;
      margin-left: 1em;
    }
    .cd-main-nav__list a {
      display: inline-block;
      height: auto;
      line-height: normal;
      background: transparent;
      padding: .6em 1em;
      border-top: none;
      color: #3d3536;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4rem;
    }
    .cd-main-nav__list a:hover {
      color: #99a478;
    }
  }
  
.subTitleFont{
  font-family: 'Thasadith', sans-serif;
  font-size: 2.5rem;
}
  .aboutMeFont{

    font-family: 'Thasadith', sans-serif;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
  }
  .cd-fixed-bg {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
  }
  
  .cd-fixed-bg__content, .cd-fixed-bg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
  }
  
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  .cd-fixed-bg.cd-fixed-bg--1 {
    background-image: url("../images/wf7.jpg ");
  }
  
  .cd-fixed-bg.cd-fixed-bg--2 {
    background-image: url("../images/faceRock.jpg");
  }
  
  .cd-fixed-bg.cd-fixed-bg--3 {
    background-image: url("../images/womanRock.jpg");
  }
  
  .cd-fixed-bg.cd-fixed-bg--4 {
    background-image: url("../images/rocks.jpg");
  }
  
  @media only screen and (min-width: 768px) {
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
      font-size: 3.6rem;
    }
  }
  
  @media only screen and (min-width: 1170px) {
    .cd-fixed-bg h1, .cd-fixed-bg h2 {
      font-size: 4.8rem;
      font-weight: 300;
    }
    @supports (background-attachment: fixed) {
      /* fix bug on IE11 and below */
      .cd-fixed-bg {
        background-attachment: fixed;
      }
    }
  }
  
  .cd-scrolling-bg {
    position: relative;
    min-height: 100%;
    padding: 4em 0;
    line-height: 1.6;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow-y: hidden;
  }
  
  .cd-scrolling-bg.cd-scrolling-bg--color-1 {
    background-color: #3d3536;
    color: #a6989a;
  }
  
  .cd-scrolling-bg.cd-scrolling-bg--color-2 {
    background-color: #99a478;
    color: #3d3536;
  }
  
  .cd-scrolling-bg.cd-scrolling-bg--color-3 {
    background-color: #b4d7a8;
    color: #3d3536;
  }
  
  .cd-scrolling-bg__content {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
  }
  
  @media only screen and (min-width: 768px) {
    .cd-scrolling-bg {
      padding: 8em 0;
      font-size: 2rem;
      line-height: 2;
      font-weight: 300;
    }
  }
  